<div class="copy-request-container">
  <ul>
    <% requests.forEach(request => { %>
    <div class="request-item admin">
      <div class="request-body">
        <h3 class="request-headers">
          <%= request.organization_name %>:
          <span class="guide-number">
            <%= request.number %>
          </span>
          copies
        </h3>
        <ul>
          <li><%= request.contact_name %></li>
          <li><%= request.email %></li>
          <li><%= request.phone %></li>
        </ul>
      </div>
      <button type="submit" data-id="<%= request.request_id %>">Picked Up</button>
    </div>
    <% })%>
  </ul>
</div>