<!DOCTYPE html>
<html lang="en">
<%- include('../../layout/head') %>

<body>
  <%- include('../../layout/header') %>
  <div>
    <%- include('../auth/sidebar.ejs') %>
<!--     <h2 id="remaining-pickup">Remaining Number of Guides to be Picked Up: <span id="guide-count"></span></h2> -->
    <h2 id="remaining-pickup">Number of copies available: <span id="guide-count"><%- 50000 - total %></span></h2>
    <button type="submit" class="download-requests-button" >Download Requests</button>

    <div class="copy-request-container">
      <ul>
        <% requests.forEach(request => { %>
        <div class="request-item admin">
          <div class="request-body">
            <h3 class="request-headers">
              <%= request.organization_name %>:
              <span class="guide-number">
                <%= request.number %>
              </span>
              copies
            </h3>
            <ul>
              <li><%= request.contact_name %></li>
              <li><%= request.email %></li>
              <li><%= request.phone %></li>
            </ul>
          </div>
          <div>
            <a style='text-decoration: none' href='/admin/copyrequest/<%= request.request_id %>/edit'>
              <button>Edit</button>
            </a>
            <button type="submit" class="pick-up-button" data-id="<%= request.request_id %>">Picked Up</button>
            <button type="submit" class="delete-button" data-id="<%= request.request_id %>">Delete</button>
          </div>
        </div>
        <% })%>
      </ul>
    </div>
    <%- include('../../layout/footer') %>
    <script>
      // count # of guides still to be picked up
/*       let sum = 0;
      const numberOfCopies = 50000;
      $(".guide-number").each(function () {
        sum += parseInt($(this).html(), 10) || 0;
      });

      $("#guide-count").text(numberOfCopies - sum); */

      $('.pick-up-button').on('click', function(e) {
        $.post('/admin/request/pickup',
           { request_id: $(this).data('id') },
           function(data, status, jqXHR) {
            if(status === 'success') {
              location.reload();
            }
          }
        )
      })

      $('.delete-button').on('click', function(e) {
        $.post('/admin/request/delete',
           { request_id: $(this).data('id') },
           function(data, status, jqXHR) {
            if(status === 'success') {
              location.reload();
            }
          }
        )
      })

      $('.download-requests-button').on('click', function(e) {
        $.get('/admin/request/download-requests',
            function(dbRows, status, jqXHR) {
              if (status === 'success') {
                let csvData = "request_id,organization_name,contact_name,email,phone,number,picked_up,deleted\n";
                const COMMA = ",";
                const NEWLINE = "\n";

                dbRows.forEach(row => {
                    csvData += row.request_id + COMMA
                      + row.organization_name + COMMA
                      + row.contact_name + COMMA
                      + row.email + COMMA
                      + row.phone + COMMA
                      + row.number + COMMA
                      + row.picked_up + COMMA
                      + row.deleted + NEWLINE;   
                });

                const blob = new Blob([csvData]);
                let link = document.createElement('a');
                const objUrl = URL.createObjectURL(blob);  
                link.href = objUrl;

                const today = new Date();
                link.download = 'guideRequests' + "-" + 
                                (today.getMonth() + 1) + "-" + 
                                today.getDate() + "-" + 
                                today.getFullYear() + ".csv";
                link.click();
              }
            }
          ) 
      })

    </script>
  </div>
</body>

</html>