<!DOCTYPE html>
<html lang="en">
<%- include('../../layout/head') %>

<body>
	<%- include('../../layout/header') %>
	<div>
		<%- include('../auth/sidebar.ejs') %>
		<h2 id="remaining-pickup">Remaining Number of Guides to be Picked Up: <span id="guide-count"></span></h2>
		<%- include('../auth/copy-request-data.ejs') %>
		<%- include('../../layout/footer') %>
	</div>
</body>

</html>