<%- include('../../layout/head') %>
</head>
<%- include('../../layout/header') %>
<body>
    <%- include('../auth/sidebar.ejs') %>
    <%- include('../auth/edit-details.ejs', {organization: results}) %>
   
    </div>
    <%- include('../../layout/footer') %>
    </div>
</body>
</html>