<div id="organization-container">
    <ul>
		<% organizations.forEach(organization => { %>
            <li class="organization-item admin">
            <h3><%= organization.organization_name %></h3>
                <% if(organization.website != ""){ %>
                    <div class="label">Website |</div>
                        <a target="_blank" href=<%= organization.website %> target="_blank">
                    <div class="content"><%= organization.website %></div>
                        </a>
                            <% } %>
                            <% if(organization.phone_number != ""){ %>
                    <div class="label">Phone |</div>
                        <div class="content">
                            <%= organization.phone_number %>
                        </div>
                            <% } %>
                            <% if(organization.org_address != ""){ %>
                    <div class="label">Address |</div>
                    <div class="content">
                        <%= organization.org_address %>
                                </div>
                            <% } %>
                        <% })%>
                            </li>
    </ul>
	</div>