<section class="organization-container">
    <ul>
            <% organizations.forEach(organization => { %>
                <li class="organization-item">
                <h3><%= organization.organization_name %></h3>
								<% if(organization.website != ""){ %>
										<a href=<%= organization.website %>
										<p><%= organization.website %></p>
										</a>
                <% } %>
								<% if(organization.phone_number != ""){ %>
									<p> <span class="label">Phone |</span>
                    <%= organization.phone_number %>
									</p>
								<% } %>
								<% if(organization.org_address != ""){ %>
                	<p> <span class="label">Address |</span>
										<%= organization.org_address %>
									</p>
								<% } %>
                <p><span class = "label">Hours |</span>
                    <%= organization.schedule %>
								</p>
								<div id="icon-container">
								</div>
								<i class="fa fa-plus desc-button desc-button-on" aria-hidden="true" title="Show description"></i>
								<p class="desc hidden">
                    <%= organization.org_description %>
                </p>
                </li>
            <% })%>
    </ul>
</section>

